body {
  margin: 0;
  font-family: "Product Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar-container {
  display: flex;
  width: 100%;
  max-width: 1300px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background: white;
}

.category-container {
  display: flex;
  flex-direction: row;
}

.symbol-container {
  display: flex;
  flex-direction: row;
}

.category {
  margin: 10px;
  color: #4a4a4a;
  text-decoration: none;
  font-size: 13px;
  font-weight: 80;
}

@media only screen and (max-width: 700px) {
  .category {
    display: none;
  }
}

.left-container {
  display: flex;
  align-items: center;
}

.right-container {
  display: flex;
  align-items: center;
}

.master-navbar-container {
  display: flex;
  justify-content: center;
}

.symbol {
  margin: 10px;
}

.log-out {
  margin: 10px;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #4a4a4a;
  text-decoration: none;
  font-size: 16px;
  font-weight: 550;
  letter-spacing: 0.5px;
}

.logo {
  width: 20px;
  margin: 10px 10px 10px 20px;
}

.banner-master-container {
  display: flex;
  justify-content: center;
}

.banner-container {
  display: flex;
  background-color: #d0dce4;
  /* flex-direction: row; */
  align-items: center;
  max-width: 1300px;
}

@media only screen and (max-width: 1055px) {
  .banner-container {
    flex-direction: column;
  }
}

.banner-text-container {
  padding: 100px;
}

p {
  margin: 10px;
  color: #4a4a4a;
  text-decoration: none;
  font-size: 16px;
  font-weight: 80;
}

h1 {
  margin: 10px;
  color: #353535;
  text-decoration: none;
  font-size: 50px;
  font-weight: bold;
}

h2 {
  margin: 70px 10px 30px 10px;
  color: #353535;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}

button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: 2px solid #353535;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 17px;
}

.banner-image {
  width: 550px;
}

.log-out {
  display: block;
  height: 30px;
  width: 30px;
  line-height: 30px;

  border-radius: 30px; /* or 50% */

  background-color: orange;
  color: white;
}

.master-card-container {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  width: 1000px;
  justify-content: space-evenly;
}

.card {
  width: 350px;
  box-sizing: border-box;
}

.card-title {
  color: #353535;
  text-align: left;
  text-indent: 30px;
}

.card-price {
  text-indent: 30px;
  color: #353535;
  margin: 30px 0 50px 0;
  text-align: left;
}

.master-preview-container {
  flex-direction: row;
  display: flex;
  justify-content: center;
}

.preview-container {
  display: flex;
  flex-wrap: wrap;
  width: 1300px;
  justify-content: space-evenly;
}

.preview {
  width: 200px;
  box-sizing: border-box;
}

.preview-image {
  width: 200px;
}

.preview-title {
  color: #353535;
  text-align: left;
  text-indent: 10px;
}

.preview-price {
  text-indent: 10px;
  color: #353535;
  margin: 30px 0 50px 0;
  text-align: left;
}

.detail-master-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.detail-container {
  display: flex;
  width: 800px;
  margin: 50px;
}

.detail-image {
  width: 300px;
}

.detail-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 20px;
}

.detail-price {
  margin: 10px;
  bottom: 0;
}

.checkout-info {
  margin: 30px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.buy-button {
  background-color: rgb(87, 132, 255);
  color: white;
  border: none;
  font-size: 20px;
}

span {
  font-weight: 1000;
}

.input-field {
  border: 0;
  font-family: "Product Sans", sans-serif;
  width: 1300px;
  text-align: center;
}

.user-input-field {
  border: 1px solid rgb(211, 211, 211);
  font-family: "Product Sans", sans-serif;
  width: 300px;
  text-align: center;
  border-radius: 5%;
}

.footer {
  text-align: center;
  margin: 500px;
}

.register-master-container {
  display: flex;
  justify-content: center;
}

.register-container {
  flex-direction: column;
  display: flex;
  justify-content: center;
  background-color: #f7f7f7;
  align-items: center;
  width: 100%;
}

.register-text-container {
  margin: 10px 480px;
}

.register-logo {
  width: 30px;
  margin: 70px 0 10px 0;
}

.register-button {
  margin: 30px 0 50px;
  color: rgb(87, 132, 255);
  border: rgb(87, 132, 255) solid 2px;
}

.search-input {
  border: none;
  text-align: center;
}
